@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:bg-activeCard:hover {
  background-image: url("/cards/backgrounds/WorkflowOption.webp") !important;
  background-size: cover !important;
  background-position: center !important;
}

@layer base {
  :root {
    --primary: 232 67% 59%;
    --primary-dark: 232 46% 36%;
    --border: 231 67% 84%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 233 63% 59%; /* #5164DC */
    --chart-2: 24 96% 71%; /* #FDBA74 */
    --chart-3: 138 76% 79%; /* #86EFAC */
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 233 63% 59%; /* #5164DC */
    --chart-2: 24 96% 71%; /* #FDBA74 */
    --chart-3: 138 76% 79%; /* #86EFAC */
  }
}

:root {
  --color-text: theme("colors.zinc.950"); /* Light mode default */
  --piertwo-text: theme("colors.gray.600"); /* gray-600 */
  --piertwoDark-text: theme("colors.primary-dark.DEFAULT"); /* indigo-800 */
}

.dark {
  --color-text: theme("colors.zinc.50"); /* Dark mode default */
  --piertwo-text: theme("colors.gray.200"); /* gray-200 */
  --piertwoDark-text: theme("colors.indigo.300"); /* indigo-800 */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    color: var(--color-text);
  }
}

/* Remove the default arrows for number inputs */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
