@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:bg-activeCard:hover {
  background-image: url("/cards/backgrounds/WorkflowOption.png") !important;
  background-size: cover !important;
  background-position: center !important;
}
